name = "youtube-websocket"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
TRUFFLE_API_BASE = 'https://v2.truffle.vip'

[durable_objects]
# Pointing to the new V2 Class
bindings = [{ name = "YOUTUBE_CHAT", class_name = "YoutubeChatV2" }]

[[migrations]]
tag = "v2-init" # New tag to force a fresh start
new_sqlite_classes = ["YoutubeChatV2"] # Creating the V2 database in Free Mode
