name = "youtube-websocket"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
TRUFFLE_API_BASE = 'https://v2.truffle.vip'

[durable_objects]
bindings = [{ name = "YOUTUBE_CHAT", class_name = "YoutubeChat" }]

[[migrations]]
tag = "fix-sqlite-v3"
new_sqlite_classes = ["YoutubeChat"]
