name = "yt-chat-fresh"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[durable_objects]
bindings = [
  { name = "CHAT_DB", class_name = "YoutubeChatV3" }
]

[[migrations]]
tag = "v2-sqlite"
new_sqlite_classes = ["YoutubeChatV3"]
